.advant {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px ;


    &__item {
             @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 30px) / 2);
            }
        
            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 90px) / 4);
            }
        }


    &__box {
            display: flex;
            height: 120px;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            background-color: var(--third-bg-color);
            border-radius: 4px;
        }

    &__title {
            padding-bottom: 10px;
    
            font-size: 14px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;

            @media screen and (min-width: 768px) {
                text-align: start;
            }
            
            color: var(--main-txt-color)
        }

    &__txt {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
    
            color: var(--second-txt-color)
        }
}