.clients {
    &__title {
            margin-bottom: 50px;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;

            @media screen and (max-width: 480px) {
                    margin-bottom: 30px;
                }
    
            color: var(--main-txt-color)
        }

    &__list {
            display: flex;
            list-style: none;
            padding-bottom: 94px;
            gap: 30px;

            @media screen and (max-width: 480px) {
                    flex-wrap: wrap;
                    padding-bottom: 60px;
                }
        }

    &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 92px;

            @media screen and (max-width: 480px) {
                    width: 210px;
                }
        }

    &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 92px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            fill: #AFB1B8;

            @media screen and (max-width: 480px) {
                    width: 210px;
                }
    
    
            transition: fill 250ms var(--timing-function);
        }

    &__link:hover,
    &__link:focus {
            fill: var(--hover-txt-color);
            border: 1px solid var(--hover-txt-color);
        }
}