.address {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--third-txt-color);
}

.contacts-footer {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &:not(:last-child) {
            margin-bottom: 9px;
        }
}