.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background.jpg);

    background-color: var(--second-bg-color)
}

.hero-title {
    margin-bottom: 30px;
    color: var(--third-txt-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}