.network {
    margin-top: 16px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    height: 44px;

    &__list {
            list-style: none;
            display: flex;
        }

    &__item:not(:last-child) {
            margin-right: 10px;
        }

    &__link {
            fill: #AFB1B8;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 50px;
    
            transition-property: fill background-color;
            transition-duration: 250ms;
        }

    &__link:hover,
    &__link:focus {
            fill: var(--third-txt-color);
            background-color: var(--hover-txt-color);
        }
}