.filter-list {
    padding: 8px 22px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;


    transition-property: color background-color;
    transition-duration: 250ms;

    &:hover,
    &:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            background-color: var(--hover-txt-color);
            color: var(--third-txt-color)
        }
}

.con {
    margin-bottom: 90px;
    height: 80px;
    align-items: center;
    display: flex;
}

.filter-button {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    list-style: none;

    &>.item:not(:last-child) {
            margin-right: 8px;
        }
}

